/*CSS RESET*/


body, 
a,
p,
h1,
ul{
    
    padding: 0px;
    margin: 0px;
    
}
/*Text Settings*/
p{
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;

}
/*
menu

    header- container
        div.logo - item 
        div.menu- item
            ul.menu-container- container
            li- item
            li- item 
            li- item
            li- item
            

Flexbox - CSS - Responsividade

*/
.container{
    width: 90%;
    margin: 0 auto;
}

header {
    outline: 0px solid black;
    display: flex;
    margin: 4px ;
    /* top left bottom right*/
    min-height: 100px;
}
.logo{
    outline: 4px double black;
    flex: 1;
    margin: 10px 30px;
    text-align: center;
    
    width: 110px;
    
}

.logo p{
    margin: 27px;
}

.menu{
    flex: 3;
    outline: 2px solid black;
    margin: 0px;
    padding:0px;
}


.menu-container{
    display: flex;
    margin: 0px 20px;
}
.menu-container li{
    width: 20%;
    margin: 40px 20px;
    text-align: center;
    list-style: none;
}
.menu-container li a {
    font-size: 18px;
    text-transform:uppercase ;
    text-decoration: none;
}
.menu-container li a:link{
    color:red;
}
.menu-container li a:visited{
color: red
}
.menu-container li a:hover{
    color: purple;
}

/*
    MAIN
        -Article1 - item
        -Article2 - item
        -Article3 - item
        -Article4 - item
        -Article5 - item
        
*/


.main-class{
    margin: 30px;
    max-height:800px ;
    display: flex;
    flex-direction: column;
    outline: 2px solid black;
    height: 400px;
}
article{
    margin: 4px;
    padding: 5px;
    outline: 2px solid black;
    flex: 1;
    
}








/*
FOOTER
    logo - Item
    copy - Item
    social - item
    div.social-list - container
        li - item
        li - item
        li - item
        li - item
        
        
*/
footer{
    display: flex;
    margin: 32px;
    padding: 5px;
    min-width: 100px;
}

.logofooter,
.copy,
.social{
    flex: 1;
    height: 80px;
    margin: 10px 20px;
    outline: 2px solid black;
    
}
.logofooter{
    text-align: center;
    
}
.logofooter p {
    margin: 20px;
}
.copy h4{
    text-align: center;
    text-transform: uppercase;
    
    }
.social ul{
    margin: 0;
    width: 100%;

}    
.social ul li{
    list-style: none;
    text-align: center;
    margin: 2px auto;
    outline:3px solid black;
    
}
.social ul li a{
    text-decoration: none;
}
.social ul li a:link{
    color:red;
}
.social ul li a:visited{
color: red
}
.social ul li a:hover{
    color: purple;
}